@using Microsoft.AspNetCore.Mvc.Localization
@model CollectionApp.DAL.DTO.EntityPageDTO<CollectionApp.DAL.Entities.Collection>
@inject IViewLocalizer Localizer

@{
    Layout = "_Layout";
}

@if (Model.Entities.Count() == 0 && Model.Page.PageNumber == 1)
{
    <div class="col-md-12 text-center mt-5">
        <h5>@Localizer["NoCollections"]</h5>
    </div>
}
else
{
    @await Html.PartialAsync("../_Collections", Model)
    @if (Model.Page.TotalPages > 1)
    {
        @await Html.PartialAsync("../_Pagination", Model.Page)
    }
}

<script src="~/js/profile.js"></script>
