.collection-topic {
    font-size: 0.9rem;
}

iframe {
    display: block;
    width: 100%;
}

.tagify {
    overflow: auto;
    flex-wrap: unset;
}

.like-btn:focus {
    outline: none;
    box-shadow: none;
}

.main-bg
{
    /*background-image: url("../img/background.png");*/
    background-size: cover;
}
